.Header {
    border-style: solid;
    border-color: lightgray;
    border-width: thin 2px;
    height: 2.6em;
    display: flex;
    align-items: center;
}

.Header img {
    margin-left: 15px;
    margin-top: 8px;
    width: 80px;
    margin-right: 3em;
}

.Header .Buttons {
    width: 33%;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.Header .Buttons button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    height: 2em;
    width: 6em;
    border: none;
    outline: none;
}

.Header .Buttons .Company {
    background: none;
    color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.Header .Options {
    border-left: 2px solid lightgray;
    height: 2em;
    display: flex;
    align-items: center;
}

.Header .Options img {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: 0 1em;
}

button {
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(90%)
}
