.SearchBar {
    background-color: lightgray;
    border-radius: 5px;
    height: 2em;
    width: 40%;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
}

.SearchBar img {
    height: 1.5em;
    width: 1.5em;
    margin: 5px 1em;
}

.SearchBar .Input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    color: gray;
}