.ActivityInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 15em;
}

.ActivityInfo h3 {
    margin: 10px;
}

.ActivityInfo h1 {
    margin: 10px;
}

.ActivityInfo p {
    margin: 10px;
    font-size: 11px;
}

.Internations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-style: solid;
    border-color: #ebbec3;
    border-width: 2px;
    width: 95%;
    height: 45%;
}

.Internations .Frequency {
    display: flex;
    align-items: flex-start;
}

.Internations .Frequency h1 {
    margin-right: 2px;
}

.Internations .Frequency p {
    font-size: 15px;
}

.SubInfo {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 45%;
}

.Exams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-style: solid;
    border-color: #ebbec3;
    border-width: 2px;
    width: 45%;
}

.PS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    width: 45%;
}