.SpendingRank {
    background-color: #fe514b;
    color: white;
    height: 15em;
    width: 8em;
    border-radius: 15px;
    border-style: solid;
    border-color: #ebbec3;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.SpendingRank .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SpendingRank img {
    height: 20px;
    margin-left: 20px;
}

.SpendingRank .Rank {
    display: flex;
    align-items: center;
}

.SpendingRank h1 {
    font-size: 50px;
    margin: 0;
}

.SpendingRank h2 {
    margin: 0;
    margin-top: 22px;
}

.SpendingRank p {
    font-size: 9px;
}