.UserInfo {

    height: 6em;
    display: flex;
}
  
.UserInfo .Division {
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgray;
}

.Pair {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
}

.Pair .Title {
    color: grey;
    margin-right: 1em;
}