.UserEssentials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

.UserEssentials img {
    height: 5em;
    border-radius: 50%;
    border-style: solid;
    border-color: lightgray;
}

.UserEssentials .Client-info {
    margin-left: 1em;
    flex-direction: column;
}