.Infos {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.Observations {
  margin: 20px;
}

.Observations h1 {
  margin-top: 2px;
  color: #409ce7;
}

.Observations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Observations li:before {
  content: "\2022 ";
  color: #409ce7;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0.5em;
  font-size: 30px;
  vertical-align: middle; /* Aligns text with bullet marker */
}

.Observations button {
  background-color: white;
  border-color: #409ce7;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  color: #409ce7;
  height: 34px;
  margin-top: 1em;
}

button {
  border: none;
  outline: none;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(90%)
}