.CostGraph {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.CostGraph h4 {
    color: gray;
    margin: 0;
}

.CostGraph svg {
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, lightgray 1px, transparent 1px),
        linear-gradient(to bottom, lightgray 1px, transparent 1px);
}

.CostGraph polyline {
    fill: none;
    stroke: #fe514b;
    stroke-width: 2;
}

.LabelAndGraph {
    display: flex;
    align-items: center;
    justify-content: start;
}

.LabelAndGraph h4 {
    transform: rotate(-90deg);
}